[submodule "bundle/inkpot"]
	path = pack/github/start/inkpot
	url = git@github.com:ciaranm/inkpot.git
[submodule "bundle/sensible"]
	path = pack/github/start/sensible
	url = git@github.com:tpope/vim-sensible
[submodule "bundle/airline"]
	path = pack/github/start/airline
	url = git@github.com:vim-airline/vim-airline.git
[submodule "bundle/fugitive"]
	path = pack/github/start/fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "bundle/tmux"]
	path = pack/github/start/tmux
	url = git@github.com:tmux-plugins/vim-tmux.git
[submodule "pack/github/start/vim-cpp"]
	path = pack/github/start/vim-cpp
	url = https://github.com/vim-jp/vim-cpp.git
[submodule "pack/github/start/rust.vim"]
	path = pack/github/start/rust.vim
	url = https://github.com/rust-lang/rust.vim.git
[submodule "pack/github/start/vim-toml"]
	path = pack/github/start/vim-toml
	url = https://github.com/cespare/vim-toml.git
